@import "tailwindcss";
@font-face {
    font-family: heading;
    src: url(/fonts/headingBold.ttf);
}
@font-face {
    font-family: logo;
    src: url(fonts/Pacifico-Regular.ttf);
}
@font-face {
    font-family: buttonFont;
    src: url(/fonts/EduQLDHand-VariableFont_wght.ttf);
}
*{
    scroll-behavior: smooth;
}
#root{
    position: relative;
   
}
body, button{
 cursor: url("/model/cursor.png"),pointer;
}

.nav-link:hover{
      text-shadow: 2px 2px 6px #FF9898;
}
.card-title{
    opacity: 0;
    z-index: -2;
    transition: all .4s ease;
}

.card:hover > .card-title{
    opacity: 1;
    transform: translateY(-64px);
}